.container {
    width: 100%;
    max-width: 1080px;

    padding: 23px;
}

.details .summary::marker, .details .summary::-webkit-details-marker {
    display: none;
}

.details .summary {
    width: 100%;
    padding: 15px 0;
    border-top: 1px solid black;
    position: relative;
    cursor: pointer;
    list-style: none;
    font-weight: bold;
}
.details .summary:after {
    content: "+";
    color: black;
    position: absolute;
    right: 10px;
    top: 15px;

    font-size: 2rem;
    line-height: 28px;
    font-weight: normal;

    transform-origin: center;
    transition: 200ms linear;
}
.details[open] .summary:after {
    transform: rotate(45deg);
} 
.details .summary {
    outline: 0;
}
.details p {
    margin: 0 0 20px;
}

.details[open] .summary ~ * {
    animation: open 0.3s ease-in-out;
}
@keyframes open {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}